@import '../../Helpers/Variables.scss';
.location{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 130px;
  flex-wrap: wrap;
  &__title{
    text-align: left;
  }
  &__subtitle{
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    margin-top: 50px;
    color: #01384D;
    max-width: 100%;
  }
  &__content{
    width: 50%;
    max-width: 100%;
  }
  &__text{
    font-size: 18px;
    line-height: 28px;
    margin-top: 15px;
    width: 470px;
    max-width: 100%;
  }
  &__btn{
    margin-top: 46px;
    @include button;
    padding: 15px 100px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 360px;
    max-width: 100%;
    color: #01384D;
    
    
  }
  &__map{
    margin-right: 18px;
  }
  &__img{
    &--wrapper{
      width: 525px;
      height: 321px;
      max-width: 100%;
      overflow: hidden;
    }
  }
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }
  
  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }
  
  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }
  
  .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }
  
  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }
  
  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }
  
  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }
  
  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}



@media screen and (max-width:768px) {
  .location{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    position: relative;
    padding-top: 50px;
    &__title{
      text-align: left;
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
      position: absolute;
      top: 0;
    }
    &__subtitle{
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      margin-top: 25px;
      color: #01384D;
    }
    &__content{
      width: 100%;
    }
    &__text{
      font-size: 14px;
      line-height: 20px;
      margin-top: 10px;
    }
    &__btn{
      margin-top: 25px;
      @include button;
      width: 100%;
    }
  }
  
  #app { height: 100% }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    .swiper-slide:first-child {
      transition: transform 100ms;
    }
    
    .swiper-slide:first-child img {
      transition: box-shadow 500ms;
    }
    
    .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(50%);
      z-index: 2;
    }
    
    .swiper-slide.swiper-slide-active:first-child img {
      box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
    }
    
    .swiper-slide:nth-child(2) {
      transition: transform 100ms;
    }
    
    .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(55%);
      z-index: 1;
    }
    
    .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(-50%);
    }
    
    .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(-55%);
    }
  }
  
}