@import '../../Helpers/Variables.scss';
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: #F6FBFF;
    border: 1px solid #C7DFF5;
    box-sizing: border-box;
    padding: 30px 40px;
    position: relative;
    &__buttons{
        position: absolute;
        top: 20px;
        left: 30px;
        display: flex;
        align-items: center;
        &--item{
            margin-right: 30px;
            @include card__btn;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .discount{
        background-color: #1FCA25;
    }
    &__title{
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 30px;
        color: #01384D;
        
    }
    &__content{
        margin-left: 20px;
        width: 60%;
    }
    &__img{
        max-width: 100%;
        &--wrapper{
            width: 40%;
            position: relative;
        }
    }
    &__lupa{
        &--wrapper{
            position: absolute;
            right: 0;
            top: -50px;
            padding: 30px;
            background-color: #D9E1E7;
            border-radius: 50%;
            transition: .5s;
            cursor: pointer;
            border: none;
            &:hover .card__lupa{
                transform: scale(4)  translateX(-65px) translateY(30px) ;
                transition: .5s;
            }
            &:hover{
                background-color: #01384D;
                transition: .5s;
            }
        }
        position: absolute;
        color: #01384D;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        transition: .5s;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
        
        &--title{
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: rgba($color: #01384D, $alpha: .6);
            margin-bottom: 7px;
        }
        &--info{
            font-weight: 700;
            font-size: 30px;
            line-height: 35px;
            display: inline;
            color: #01384D;
            
            
        }
        &--discount{
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            text-decoration-line: line-through;
            color: #FF5D5D;
            display: inline;
            margin-right: 20px;
        }
    }
    &__desc{
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        margin: 20px 0 25px;
        color: rgba($color: #01384D, $alpha: .6);
    }
    &__btn{
        @include button;
        margin-top: 25px;
        transition: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #01384D;
        
        &:hover{
            color: #F6FBFF;
            transition: .3s;
        }
    }
    &__basket{
        margin-left: 15px;
    }
}

//TECHNOCARD

.techno__card{
    width: 407px;
    max-width: 100%;
    margin-right: 10px;
    &:last-child{
        margin-right: 0;
    }
    &--title{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 25px;
        text-align: center;
        color: #01384D;
        
    }
    &--video{
        width: 407px;
        height: 300px;
        max-width: 100%;
        margin-bottom: 30px;
        border: 3px solid #01384D;
        box-sizing: border-box;
        border-radius: 10px;
    }
    &--desc{
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        padding: 0 10px;
    }
}


@media screen and (max-width:768px) {
    .card{
        width: 100%;
        flex-direction: column;
        margin-bottom: 30px;
        padding: 20px;
        padding-top: 140px;
        &__title{
            font-size: 22px;
            line-height: 22px;
            position: absolute;
            top: 80px;
            
        }
        &__content{
            margin-left: 20px;
            width: 100%;
            margin-top: 50px;
        }
        &__img{
            max-width: 100%;
            &--wrapper{
                width: 100%;
            }
        }
        &__lupa{
            &--wrapper{
                top: unset;
                bottom: 0;
                padding: 20px;
                background-color: transparent;
                cursor: pointer;
                border: none;
                &:hover .card__lupa{
                    transform: unset ;
                    transition: unset;
                }
                &:hover{
                    background-color: unset;
                    transition: unset;
                }
            }
        }
        &__list{
            display: grid;
            grid-template-columns: 40%  40%;
            column-gap: 20%;
            grid-template-rows: 40% 40%;
            row-gap: 30%;
        }
        &__item{
          
            &--title{
                font-size: 14px;
                line-height: 14px;
            }
            &--info{
                font-size: 26px;
                line-height: 26px;
            }
        }
        &__desc{
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            margin: 40px 0 25px;
            color: rgba($color: #01384D, $alpha: .6);
        }
    }
}